
.wrapper {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    background-color: lightgreen;
  }



  /*Change that to portrait landscape?*/
@media (max-width: 30rem) {
    .webpage_background {
        overflow:hidden;
        background-image: url(electric-gdf2b0e31d_1280.png);
        opacity: 0.25;
        background-position:bottom;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@media (min-width: 30rem) and (min-height: 30rem) {
    .webpage_background {
        overflow:hidden;
        background-image: url(guitar-gc1fc3185a_1920_cropped.jpg);
        opacity: 0.25;
        background-position: bottom;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
}

@media (min-width: 30rem) and (max-height: 30rem) {
    .webpage_background {
        overflow:hidden;
        background-image: url(guitar-gc1fc3185a_1920_cropped.jpg);
        opacity: 0.25;
        background-position: bottom;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    
}

.content {
    margin: 0.5rem;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 25rem;
    background-color: black;
}

.header_container {
    margin:0.25rem;
    display: flex;
    flex-direction: column;
    background-color: blue;
}


h1 {
    margin: 0.25rem;
    color: #b52121;
    text-align: center;
    text-shadow: 2px 2px 4px #b52121;
    background-color: blueviolet;
}


.header_section_flex {
    margin:0.25rem;
    text-align:center;
    text-shadow: 2px 2px 4px black;
    background-color: brown;

}

.main_container {
    margin:0.25rem;
    display: flex;
    flex-direction: column;
    text-shadow: 2px 2px 4px black;
    background-color: lawngreen;
}

.main_section_flex {
    margin:0.25rem;
    text-align:center;
    background-color: chocolate;
}

.button_div {
    margin: 0.25em;
    background-color: cyan;
}

.bottom_line {
    margin:0.5em;
    text-align:center;
    background-color: indianred;
    text-shadow: 2px 2px 4px black;
}

q {
    font-style: italic;
    font-family: "Lucida Handwriting", cursive;
    font-variant: "Lucida Handwriting";

}













